<div class="accordions">
    <div class="row">
        <!-- accordion style 1 -->
        <div class="col-lg-12 mb-4">
            <div class="card card_border">
                <div class="card-header chart-grid__header">
                    Yardım Menüsü
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingOne">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">Destek Talebi Problemleri</a>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Destek taleplerinizde bir sorun yaşarsanız web sitemizin Ana Sayfa kısmında yer alan
                                    iletişim bilgilerimizden bize ulaştığınız taktirde hemen
                                    sorunlarınız hakkında destek sağlayacağız.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingTwo">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">Mesaj ve Bildirimler</a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Size gönderilmiş olan mesaj ve bildirimleri sağ üst taraftaki bildirim sekmesinden yönetebilir,
                                    admin veya diğer firmalarla mesajlaşabilir, bu firmalarla iletişim halinde kalarak
                                    iş birlikteliklerinizi arttırabilirsiniz.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingThree">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    Yeni Destek Talebi
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Web sayfamızın Ana Sayfasına gidip sol menüde bulunan Yeni Destek Talebi kısmına tıklayıp
                                    sisteminizde yaşadığınız sorunları teknik destek ekibimizle paylaşmanız halinde en kısa süre
                                    içerisinde teknik destek ekibimiz sorununuzu inceleyip size dönüş sağlayacaktır.
                                    Teknik Destek Ekibimiz sabah saat 08:00 ile akşam saat 22:00 arasında destek sağlamaktadır.
                                    Bağlantı kurabilmek için bilgisayarınıza bir uzak bağlantı programı edinmeyi unutmayınız ...
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingFour">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseFour"
                                   aria-expanded="false" aria-controls="collapseFour">Yeni Mesaj İşlemi</a>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Mesaj paneli üzerinden hem size gönderilen mesajları görüntüleyebilir hem de diğer firmaların 
                                    attığı mesajlara ulaşıp iletişim halinde kalabilirsiniz.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //accordion style 1 -->
    </div>
</div>
