@using MvcFirmaCagri.Models.Entity
@model List<TblCalls>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bell-o"></i><span class="badge blue">@ViewBag.c</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="notification_header">
                <h3>Destek Talebi Bildirimleriniz</h3>
            </div>
        </li>
        @foreach (var x in Model)
        {
            <li>
                <a href="/Default/CallDetail/@x.ID" class="grid">
                    <div class="user_img"><img src="~/web2/starter/assets/images/user-512.png" alt=""></div>
                    <div class="notification_desc">
                        <p>@x.Issue</p>
                        <span>@x.Date</span>
                    </div>
                </a>
            </li>
        }

        <li>
            <div class="notification_bottom">
                <a href="/Default/ActiveCalls/" class="bg-primary">Tüm destek taleplerini gör</a>
            </div>
        </li>
    </ul>
</li>